$ribbon-width: 12em;
$ribbon-color: #33a00b;
$ribbon-font-size: 1.2em;
$ribbon-opacity: .66;

.ribbon {
  width: $ribbon-width;
  padding: ($ribbon-width / 20) 0;
  position: absolute;
  top: ($ribbon-width / 6);
  right: -($ribbon-width / 4);

  font-size: $ribbon-font-size;
  background-color: $ribbon-color;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(#000, .4);

  transform: rotate(45deg);
  opacity: $ribbon-opacity;

  pointer-events: none;
  z-index: 1000;
}