<form (submit)="submit()">
  <md-card>
    <md-card-title>Modifier votre mot de passe</md-card-title>
    <md-card-content>
      <p>
        <md-input-container>
          <input mdInput placeholder="Mot de passe actuel" type="password" [formControl]="myForm.controls['oldPassword']" />
          <md-error *ngIf="myForm.controls['oldPassword']?.errors?.required" align="start">
            Veuillez renseigner votre mot de passe actuel.
          </md-error>
        </md-input-container>
      </p>
      <p>
        <md-input-container>
          <input mdInput placeholder="Nouveau mot de passe" type="password" [formControl]="myForm.controls['password']" />
          <md-error align="start" *ngIf="myForm.controls['password']?.errors?.required || myForm.controls['password']?.errors?.minLength">
            Votre nouveau mot de passe doit contenir plus de 6 caractères.
          </md-error>
          <md-error *ngIf="myForm.controls['password']?.errors?.different" align="start">
            Ne doit pas être identique à votre ancien mot de passe.
          </md-error>
        </md-input-container>
      </p>
      <p>
        <md-input-container>
          <input mdInput placeholder="Confirmation du nouveau mot de passe" type="password" [formControl]="myForm.controls['confirmation']"
          />
          <md-error *ngIf="myForm.controls['confirmation']?.errors?.same">Doit être identique.</md-error>
        </md-input-container>
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button md-raised-button color="primary" [disabled]="myForm.invalid">Modifier</button>
      <button type="button" md-button (click)="myForm.reset()">Annuler</button>
    </md-card-actions>
  </md-card>
</form>