<md-progress-spinner *ngIf="!user"
    color="primary"
    mode="indeterminate">
</md-progress-spinner>
<md-card *ngIf="user">
  <md-card-title>Profile : {{user?.displayName}}</md-card-title>
  <md-card-content>
    <p>
      <md-input-container>
        <input mdInput placeholder="Identifiant" value="{{user?.login}}" disabled />
      </md-input-container>
    </p>
    <p>
      <md-input-container>
        <input mdInput placeholder="Nom" value = "{{user?.displayName}}" disabled />
      </md-input-container>
    </p>
    <ck-password-change  [user]="currentUser" *ngIf="user?.login === currentUser?.login"></ck-password-change>
    <ck-todo></ck-todo>
  </md-card-content>
</md-card>
