<span *ngIf="user" class="login">
  <button md-button [mdMenuTriggerFor]="menuLogin">
    <md-icon>face</md-icon>
    {{user.displayName}}
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menuLogin="mdMenu">
    <button md-menu-item disabled>
      <md-icon>account_circle</md-icon>
      <span>Profile</span>
    </button>
    <button md-menu-item (click)="logout()">
      <md-icon>exit_to_app</md-icon>
      <span>Déconnexion</span>
    </button>
  </md-menu>
</span>
<span *ngIf="!user" class="signin">
  <button md-button (click)="openDialog()">
    <md-icon>account_circle</md-icon>
    Se connecter
  </button>
</span>
