/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming.scss';
@import './app/footer/_footer-theme.scss';
/* NOTE: Theming is currently experimental and not yet publically released! */

@include mat-core();

$primary: mat-palette($mat-blue-grey);
$accent:  mat-palette($mat-indigo, A200, A100, A400);
$warn:    mat-palette($mat-red, A700);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include footer-theme($theme);

html, body {
  margin: 0;
}
